.bg-home-header{
    background-image: url(../../../assets/images/wall.jpg);
    background-size: cover;
}

.layer-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title-owl-carousel{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
    font-weight: bold;
}