.bgFilms{
    background-image: url(../../../assets/images/back.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.bg-layouts{
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
}
.form-register{
    width: 450px;
    margin: auto;
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
}