<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 navbar-brand-parent">
                        <a class="navbar-brand animations-footer" href="#">Mokaa<span> MH</span></a> <br>
                        <!-- <a class="navbar-brand" href="#">Cinema  &nbsp;<span>MH</span></a> <br>
                        <a class="navbar-brand" href="#">News  &nbsp;<span>MH</span></a> <br>
                        <a class="navbar-brand" href="#">Resturant  &nbsp; <span>MH</span></a> <br> -->
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled movies-footer-links">
                                    <li>Horror Movies</li>
                                    <li>Action Movies</li>
                                    <li>Romance Movies</li>
                                    <li>comedy Movies</li>
                                    <li>Animations Movies</li>
                                    <li>Fantasy Movies</li>
                                    <li>History Movies</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled  movies-footer-links">
                                    <li>1990 - 1995</li>
                                    <li>1995 - 2000</li>
                                    <li>2000 - 2005</li>
                                    <li>2005 - 2010</li>
                                    <li>2010 - 2015</li>
                                    <li>2015 - 2018</li>
                                    <li>2018 - 2021</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

   
    <div class="col-md-12 mt-3 bg-dark p-2">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    <p>All rights reserved © <span> Muhammed Hamdi </span></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-footer text-right">
                    <div class="social-media">
                        <i class="fab mx-2  fa-instagram"></i>
                        <i class="fab mx-2  fa-youtube"></i>
                        <i class="fab mx-2  fa-soundcloud"></i>
                        <i class="fab mx-2  fa-spotify"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>